<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://media.licdn.com/dms/image/C560BAQF2U5ukFeoNcw/company-logo_200_200/0/1635281976403?e=2147483647&v=beta&t=8bwwevKEhzVohm4GsIAJHfZ3M_HX8okwEq8jRuiW78w" alt="" width="72" height="72">
    <h1 class="display-5 fw-bold text-body-emphasis">Welcome to Winjit Technologies</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Winjit is one of India’s leading technology provider with over a decade of experience in innovating engineering solutions across industries. Founded in 2004, by two technology enthusiasts, Abhijit Junagade and Ashwin Kandoi. Over the years, both worked around the clock to build strategic solutions that made a difference in a wide range of AI and automation platforms for businesses. With a track record of successful clients, Winjit sublimed the outreach by establishing a presence at an international level, including the United States, United Kingdom, Australia, South Africa, and Singapore.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      </div>
    </div>
  </div>
